body {
    font-family: 'Mountains of Christmas', cursive;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 70px;
    font-size: 70px;
    padding-bottom: 70px;
}

.container {
    margin: auto;
    width: 924px;
    border: 3px dotted white;
    padding: 10px;
    height: auto;
    display: flex;
}

.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
    color: white;
    border-right: 3px dotted white;
  }

  .column:last-child {
    border-right: none;
  }

  #instructions {
      text-align: center;
      font-size: 20px;
  }

  #output, #wins, #space {
    /* height: 100px; */
    color: white;
    /* font-size: 16px; */
    margin: 25px;
  }

  #output {

  }